* {
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.main {
  background-color: black;
  /* height: 100vh; */
  display: flex;
  z-index: 0;
}

.header {
  text-decoration: none;
  background-color: black;
  justify-content: center;
  align-items: center;

  width: 100%;
  position: fixed;
  height: 67px;
  display: flex;
  z-index: 1;

  color: rgba(120, 120, 20, 0.6);
}
#spotifyIcon {
  margin-left: 10px;
  color: aliceblue;
  font-size: 40px;
  margin-top: 8px;
  width: 50px;
}
#home_icon {
  margin-left: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
#home {
  text-decoration: none;
  color: white;
}

.searchbar {
  background-color: #232323;
  border-radius: 40px;
  color: rgb(0, 0, 0);
  width: 30rem;
  height: 3rem;

  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 200px;
}

.search_button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0rem 0.75rem;
  height: 1.5rem;
  width: 3rem;
}

.searchbar_input {
  background-color: transparent;

  padding: 0.75rem 6rem 0.75rem 3rem;
  padding: 2px 5px;
  color: aliceblue;
  border: none;
  outline: none;
}
#explore_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#exploreButton {
  color: black;
  background-color: white;
  margin-left: 50px;
  /* margin-top: 20px;  */
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  height: 2rem;
  width: 9rem;
  padding: .25rem;
}

#install_icon {
  margin-left: 30px;
  margin-right: 30px;
}
#bell_div {
  display: flex;
  align-items: center;
}
#bell_icon {
  margin-left: 20px;
  font-size: 20px;
}
#user_icon {
  margin-left: 45px;
  font-size: 25px;
}

.sideBar {
  width: 351px;
  height: 100vh;
  background-color: #121212;
  border-radius: 1rem;
  margin-top: 75px;
  color: aliceblue;
  margin-right: 0.5rem;
}

.library {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem 0.5rem 1rem;
  height: 71px;
  width: 100%;
}
#your_library {
  margin-right: 30px;
  width: 170px;
  padding: ;
}
#library {
  background-color: #232323;
}
#library_button {
  font-weight: 700;
  font-size: 1px;
}
#library_button img {
  height: 1rem;
  width: 1rem;
  opacity: 0;
}
#library_button:hover {
  transform: translateX(1rem);
  transition: transform 0.5s ease-in-out;
}
#library_button:hover img {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#createDiv {
  padding: 0.5rem;
  background-color: #232323;
  display: flex;
  justify-content: flex-end;
  border-radius: 50%;
}
#first_playlist > p {
  /* margin-bottom: 0px;
  line-height: 25px; */
  margin: 0px;
  height: 23px;
  width: 177px;
  font-weight: 700;
  font-size: 0.85rem;
}
#to_follow > p {
  /* margin-bottom: 0px;
  line-height: 25px; */
  margin: 0px;
  font-weight: 700;
  font-size: 1rem;
}

#createbutton {
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-size: medium;
  font-weight: 700;
  padding: ;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

#library_button {
  border: none;
  background-color: transparent;
  color: aliceblue;
  font-size: 20px;
  margin-top: 10px;
}

#playlist_container {
  padding: 0rem 0.5rem 0.5rem 0.5rem;
}
#first_playlist {
  background-color: #232323;
  border-radius: 10px;
  padding: 1rem 1.25rem;
  margin: 0.5rem 0rem 0.5rem 0rem;

  /* width: 224px;
  height: 102px; */
  /* width: 307px;
    height: 134px; */
  /* height: 101px;
  width: 224px; */
}

#to_follow {
  background-color: #232323;
  margin: 0.5rem 0rem;
  padding: 1rem 1.25rem;
  border-radius: 10px;
  width: 335px;
  height: 176px;
}
#playBttn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  height: 2rem;
  width: 8rem;
  padding: 0.25rem 1rem;
  font-size: 0.85rem;
}
#podBttn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  height: 2rem;
  width: 10rem;
  padding: 0.25rem 1rem;
  font-size: 0.85rem;
  margin-top: 10px;
}
@media (max-width:1275px){
  #exploreButton{
  display: none; 
  }
}

.mainContent {
  background-color: #121212;
  overflow: auto;
  height: 100vh;
  flex: 1;
  border-radius: 1rem;
  margin-top: 75px;
  color: aliceblue;
  /* display: flex; */
  padding-left: 10px;
  /* flex-wrap: wrap; */
}

.cards {
  /* display: flex; */
}
.cards_container {
  /* height: 229px; */

  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
.card {
  background-color: #232323;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-right: 1rem;
}
.cards_container img {
  width: 100%;
  border-radius: 1rem;
}

.card p {
  color: white;
  opacity: 0.6;
}
.footer {
  height: 250px;
  /* border-top: 2px solid beige;
  margin-top: 100px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty {
  border-top: solid grey;

  height: 30%;
  width: 90%;
}

.player {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
  background-color: black;
  color: aliceblue;
  padding: 0.5rem;
  display: flex;
}
.left_div {
  width: 30%;
  display: flex;
  align-items: center;
}

.left_div button img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 0.5rem;
  background-color: black;
  /* padding: 0px;
 margin: 0px; */
}
.left_div button {
  /* padding: 0px;
  margin: 0px; */
  background-color: #000;
  border: none;
}
#left_anchor > a {
  text-decoration: none;
  color: white;
  margin-left: 0.5rem;
  font-size: 0.75rem;
  margin-right: 1rem;
}
#a1 {
  font-weight: 700;
  height: 21px;
}
#a2 {
  color: #b3b3b3;
}

.player_controls {
  display: flex;
}

.left_controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 12.4rem;
}

.left_controls button {
  padding: 0.5rem;
}

#shuffle_bttn {
  border: none;
  background-color: #000;
}
#previous_bttn {
  background-color: #000;
  border: none;
}

.center_div {
  width: 40%;
}

.middle_controls {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play_bttn {
  background-color: #000;
  border: none;
  color: #5c5c5c;
  font-size: 1.5rem;
}
.right_controls {
  width: 12.4rem;
  display: flex;
  justify-content: flex-start;
}
.right_controls button {
  padding: 0.5rem;
}
#forward_bttn {
  background-color: #000;
  border: none;
  color: #5c5c5c;
}
#repeat_bttn {
  background-color: #000;
  border: none;
  color: #5c5c5c;
}
.player_input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bttn {
  opacity: 0.5;
}
.bttn:hover {
  opacity: 1;
}
#progress_bar {
  appearance: none;
  width: 70%;
  height: 0.25rem;

  color: #fff;
  border-radius: 1rem;

  cursor: pointer;
}
#progress_bar::-webkit-slider-runnable-track {
  background-color: #5c5c5c;
}
#progress_bar::-webkit-slider-thumb {
  appearance: none;
  height: 0.5rem;
  width: 0.5rem;
  background-color: aliceblue;
  border-radius: 50%;
}
